@font-face {
    font-family: 'KongshoMJ';
    src: url('fonts/KongshoMJ.eot');
    src: url('fonts/KongshoMJ.eot') format('embedded-opentype'),
         url('fonts/KongshoMJ.woff2') format('woff2'),
         url('fonts/KongshoMJ.woff') format('woff'),
         url('fonts/KongshoMJ.ttf') format('truetype'),
         url('fonts/KongshoMJ.svg#KongshoMJ') format('svg');
}
