@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'KongshoMJ';
  src: url('fonts/KongshoMJ.eot');
  src: url('fonts/KongshoMJ.eot') format('embedded-opentype'),
       url('fonts/KongshoMJ.woff2') format('woff2'),
       url('fonts/KongshoMJ.woff') format('woff'),
       url('fonts/KongshoMJ.ttf') format('truetype'),
       url('fonts/KongshoMJ.svg#KongshoMJ') format('svg');
} */



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "KongshoMJ", serif ;
   
}


.search-button {
  /* Styles for the button */
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.search-icon {
  /* Styles for the search icon */
  width: 20px;
  height: 20px;
}

.search-input {
  /* Styles for the search input field */
  display: none;
  width: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  margin-left: 5px;
}
.slider-pagination button.opacity-100{
  background-color: red !important;
}
.data-twe-carousel-active{
  background-color: yellow !important;
}

.dividerwidth{
  width: 400px;
}

.roundedimg {
  border-radius: 50%;
}

.iteam{
  display: flex;
  justify-content: center;
  align-items: center;
}
.iteam img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.lekhokIteam img{
  width: 60px;
  height: 60px;
}


/* carosal */

.carousel {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.carousel__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: gray;
  font-size: 2rem;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s;
}
.carousel__btn:hover {
  background-color: rgba(109, 104, 104, 0.8);
}
.carousel__btn--prev {
  left: 0;
}
.carousel__btn--next {
  right: 0;
}
.carousel__img {
  width: 100%;
  height: 812px;
  display: block;
  transition: transform 300ms ease-in-out;
}

/* .carousel__img:hover {
  transform: scale(1.05);
} */

.carousel__indicator{

  border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
z-index: 20;
}


/* music bar slider */
.slider {
  -webkit-appearance: none;
  appearance: none; 
  width: 400px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 7px;
  outline: none;

}
.sound{
  -webkit-appearance: none;
  appearance: none; 
  width: 100px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 7px;
  outline: none;
}

/*
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
   input[type='range'] {
    overflow: hidden;
    /* width: 400px; */
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #f8e405;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    /* width: 10px; */
    -webkit-appearance: none;
    /* height: 10px; */
    /* cursor: ; */
    background: #f8e405;
    box-shadow: -400px 0 0 400px #f8e405;
  }

}
/** FF*/
.slider::input[type="range"]::-moz-range-progress {
background-color: #f8e405; 
}

.slider::input[type="range"]::-ms-fill-lower {
background-color: #f8e405; 
}


/* loading page  */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure loading screen is above other content */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border-left-color: #fff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




